* {
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    background-color: white;
}

.container {
    max-width: 100%;
    margin: 50px auto;
    padding: 20px;
}

.search-sort {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-sort input,
.search-sort select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table thead th {
    text-align: left;
    padding: 15px;
    background-color: white;
    border-bottom: 1px solid #ddd;
}

table tbody td {
    padding: 15px;
}

table tbody {
    border-bottom: 1px solid #ddd;
}

.progress-container {
    display: flex;
    align-items: center;
}

meter {
    width: 125px;
    height: 10px;
    margin-left: 15px;
    border-radius: 5px;
    background-color: #ddd;
}

meter::-webkit-meter-optimum-value {
    background: red;
}

.detail-btn {
    color: #28a745;
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}